@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color: #cd3c32;

  --dark: #121214;

  --white: #ffffff;
}

body {
  font-family: "Archivo", sans-serif;
}
